/*header*/

header h1 {
  font-size: 1.5em;
  color: white;
}
header a{
  text-decoration: none;
  color: white;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .5s;
}
header a:hover {
  color:dimgray;
  background-size: 100% 2px;
}
.nav{
  background:black;
  box-shadow: 0 1px 0 rgba(59, 57, 57, 0.4);
}

/*body*/

body{
  background: black;
  color: white;
}
section{
  border-color: dimgray;
  border-style: solid;
  border-width: 1px;
  border-radius: 13px;
  margin-bottom: 10px;
  padding: 15px;

}

/*social media*/
.social-media {
position: fixed;
top: 50%;
left:2%;
font-size: 1.5em;
display: flex;
flex-direction: column;
align-items:start;
z-index:100;

}
.social-media a{
  text-decoration: none;
  color: white;
}
.social-media a:hover{
  color: dimgray;

}

/*email*/
.email {
  position: fixed;
  top: 52%;
  right:-4%;
  font-size: 1.1em;
  z-index:100;  
  transform: rotate(90deg);  
  }
  .email a {
    text-decoration: none;
    color: white;
  }
  .email a:hover {
    color: dimgray;
  }

/* habilidades*/
#skills{
  justify-content: center;
  align-items: center;
}
ul{
  list-style:none;
}
a{
  text-decoration:none;
}
.box{
  width:350px;
	height:450px;
	background-color:#1e1e26;
	border-radius: 10px;
	box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	margin: 20px 10px;
}
.box img{
  width: auto;
  margin-top: 15px;
}
.box h1{
  margin-bottom: 15px;
}

/*proyectos*/

.card{  
  margin: 10px;
}
.card:hover{
  box-shadow: 1px 1px 10px #ffffff;
}
.card-body{
  background-color: black;
}
.card-title{
  color: white;
}
h2{
  margin-bottom: 20px;
}
